.animated-input {
    border-width: 2px;
    border-color: #ccc; 
    transition: border-color 0.3s ease; 
  }
  
  .animated-input:focus {
    border-color: #FF4500; 
    box-shadow: 0 0 5px rgba(255, 69, 0, 0.5);
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);  /* Start the rotation from 0 degrees */
    }
    100% {
      transform: rotate(360deg);  /* Complete one full rotation (360 degrees) */
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }